.carousel {
  position: relative;
  top: 4rem;
  width: 100%;
  max-width: 900px;
  margin: 60px auto;
  overflow: hidden;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
}

h2 {
  text-align: center;
  color: #441612;
  font-size: 2.5rem;
}

.carousel__container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  width: 100%;
  box-sizing: border-box;
}

.carousel__item {
  flex: 0 0 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  z-index: 10;
  font-size: 1.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
  opacity: 0.4;
}

.carousel__btn--prev {
  left: 0;
}

.carousel__btn--next {
  right: 0px;
}

.carousel__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Responsivo */
@media (max-width: 768px) {
  .carousel {
    width: 100%;
    padding: 15px;
  }

  .carousel__btn {
    font-size: 1.5rem;
    padding: 10px;
  }

  .carousel__btn--prev {
    left: 5px;
  }

  .carousel__btn--next {
    right: 5px;
  }
}
