<div class="checkout-container">
  <h2>Carrinho</h2>

  <!-- Carrinho Vazio -->
  <div *ngIf="cartItems.length <= 0" class="alert">
    Nenhum produto selecionado. Por favor, volte e escolha um produto.
  </div>

  <!-- Formulário Único -->
  <form id="checkout-form" class="form" *ngIf="cartItems.length > 0">
    <fieldset class="form__fieldset">
      <legend class="form__legend">Resumo do Carrinho</legend>

      <div *ngFor="let item of cartItems; let i = index" class="cart-item">
        <div class="cart-item__info">
          <h4 class="cart-item__name">{{ item.nome }}</h4>
          <span class="cart-item__quantity">Quantidade:
            <input type="number" [value]="item.quantity" min="0" (input)="updateQuantity($event, i)" class="cart-item__input" />
          </span>
        </div>
        <div class="cart-item__price">
          <span>R$ {{ (item.preco * item.quantity).toFixed(2).toString().replace('.', ',') }}</span>
        </div>
      </div>

      <div class="cart-summary-frete">
        <label for="cepOrigem" class="cart-item__cep">CEP:</label>
        <input
          class="cart-item__input cart-item__input-frete"
          type="text" 
          id="cepOrigem" 
          [(ngModel)]="cepDestino" 
          name="cepOrigem" 
          placeholder="Digite o CEP" 
          required
        />
        <button type="button" (click)="calcularFrete()" class="form__button form__button-frete" [disabled]="isLoadingFrete">
          <span>Calcular Frete</span>
          <span *ngIf="isLoadingFrete">
            <app-spinner></app-spinner>
          </span>
        </button>
      </div>
      
      <!-- Exibição do Frete Calculado -->
      <div *ngIf="fretes.length > 0" class="cart-summary-frete">
        <div *ngFor="let frete of fretes">
          <p class="cart-summary-frete-description">
            <img [src]="frete.companyPicture" alt="Logo da transportadora" class="cart-summary-frete-logo"/>
            <strong>Valor: </strong>R${{ frete.price.toString().replace('.', ',') }} - {{ frete.name }}
            <input 
              type="radio" 
              [value]="frete.price"
              [(ngModel)]="freteSelecionado"
              name="freteSelecionado"
              (change)="updateValorFrete(frete.price)" />
          </p>
          <span><br> </span>
        </div>
      </div>

      <div class="cart-summary">
        <p><strong>Total: </strong> R$ {{ totalPrice.toString().replace('.', ',') }}</p>
      </div>
    </fieldset>

    <fieldset class="form__fieldset">
      <legend class="form__legend">Escolha a Forma de Pagamento</legend>
    
      <div class="payment-select">
        <select id="paymentMethod" [(ngModel)]="selectedPaymentMethod" name="paymentMethod">
          <option *ngFor="let method of paymentMethods" [value]="method.id">
            {{ method.name }}
          </option>
        </select>
      </div>
    </fieldset>      

    <input type="button" class="form__button" (click)="finalizarCompra()" value="Finalizar Compra"/>
  </form>
</div>
