

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Cor do texto */
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

router-outlet {
    flex: 1;
    display: block;
}

.snackbar-info {
    background-color: #003d7b;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.snackbar-error {
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
}